@charset "UTF-8";

/*CSS normalization and box-sizing*/
html {
    box-sizing: border-box;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
    margin: 0;
}

/*Typography*/

body {
    font-family: 'Crimson Text', serif;
    background-color: #111;
    color: #f5f5f5;
    padding: 2rem;
}

/*Headings display font*/
h1, h2 {
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}